header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
li{
    margin: 20px;
}