header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
li{
    margin: 20px;
}
img{
    width: 30%;
    height: 300px;
    border-radius:10%;
}
p{
    width: 60%;
}
    article{
        width: 60%;
        height: 400px;

    }
    #carouselParceria{
        margin-bottom: 10px;
    }
    .representantes{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        border-radius: 50%;
    }

